@charset "UTF-8";

body {
    background-color: greenyellow;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(3, 88, 3);
}

h1#principal {
    text-align: center;
    background-color: rgb(19, 29, 5);
    color: white;
}

h2 {
    color: rgb(0, 53, 0);
}

.basico {
    color: yellow;
}

.intermediario {
    color: blue;
}

.avancado{
    color: red;
}
